<!DOCTYPE HTML>
<html>
	<head>
		<meta content='text/html; charset=UTF-8' http-equiv='content-Type' />
	</head>
	<body>
		<h1>Hey,Jitu</h1>
		<p>Welcome to our site!</p>
		<p>to login to the site ,just follow this link: <%=@user.id %></p>
	</body>
</html>