<% if flash[:notice] %>
	<div class="modal hide fade" id="modal">
	  <div class="modal-header">
	    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;    </button>
	    <h3><%= flash[:title]  %></h3>
	  </div>
	  <div class="modal-body">
	    <%= flash[:notice]  %>
	  </div>
	  <div class="modal-footer">
	    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
	  </div>
	</div>
<% end %>

<p>
	<strong>Title</strong>
		<%= @article.title %>
</p>
<p>
	<strong>First Name</strong>>
		<%= @article.name %>
	
</p>
